@{
    Layout = "~/Views/Shared/_ApiLayout.cshtml";
    ViewData["Title"] = "MVC Ajax";
}


<div class="table-responsive">
    @* Add Button *@
    <button type="button" class="btn btn-primary mb-3" id="AddEmployeeModalBtn" data-bs-toggle="modal"
        data-bs-target="#AddEmployeeModal">
        Add Button
    </button>

    <center>
        @* Message *@
        <div class="alert alert-success text-center" role="alert" id="messageSuccess"></div>
        <div class="alert alert-danger text-center" role="alert" id="messageFail"></div>
    </center>

    @* Table HTML *@
    <table class="table text-center">
        <thead>
            <th scope="col">Employee Id</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Gender</th>
            <th scope="col">DOB</th>
            <th scope="col">Shift</th>
            <th scope="col">Department</th>
            <th scope="col">Image</th>
        </thead>
        <tbody id="TableContent11">

        </tbody>
    </table>
</div>

@{
    #region Add Modal
}
<!-- Add Modal -->
<div class="modal fade" id="AddEmployeeModal" tabindex="-1" aria-labelledby="AddStudentModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddStudentModelLabel">Add Student</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="formdata">
                <form id="addEmpForm" enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        @* Employee Name *@
                        <div class="mb-3">
                            @* <input name="c_empid" id="c_empid" hidden> *@
                            <label>Employee Name: </label>
                            <input type="text" name="c_empname" id="c_empname">
                            <span class="text-danger" id="EditEmpNameHelp"></span>
                        </div>
                        @* Gender *@
                        <div class="mb-3">
                            <label>Gender: </label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="c_empgender" id="c_gender_male"
                                    value="Male">
                                <label class="form-check-label" for="c_gender_male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="c_empgender" id="c_gender_female"
                                    value="Female">
                                <label class="form-check-label" for="c_gender_female">
                                    Female
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="c_empgender" id="c_gender_others"
                                    value="Other">
                                <label class="form-check-label" for="c_gender_others">
                                    Others
                                </label>
                            </div>
                            <span class="text-danger" id="EditEmpGenderHelp"></span>
                        </div>
                        @* DOB *@
                        <div class="mb-3">
                            <label> DOB: </label>
                            <input type="date" name="c_dob" id="c_dob" class="form-control">
                            <span class="text-danger" id="EditEmpDobHelp"></span>
                        </div>
                        @* Shift *@
                        <div class="mb-3">
                            <label>Shift: </label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="c_shift" id="c_shift_morning"
                                    value="Morning">
                                <label class="form-check-label">
                                    Morning
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="c_shift" id="c_shift_afternoon"
                                    value="Afternoon">
                                <label class="form-check-label">
                                    Afternoon
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="c_shift" id="c_shift_night"
                                    value="Night">
                                <label class="form-check-label">
                                    Night
                                </label>
                            </div>
                            @* <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="EditEmpShift" value="Night"
                            id="Night">
                            <label class="form-check-label">
                            Night
                            </label>
                            </div> *@
                            <span class="text-danger" id="EditEmpShiftHelp"></span>
                        </div>
                        @* Course *@
                        <div class="mb-3">
                            <div class="dropdown">
                                <label>Department Name: </label>
                                <select class="btn btn-secondary dropdown-toggle" name="c_department" id="c_department">
                                </select>
                            </div>
                            <span class="text-danger" id="EditEmpDepartmentHelp"></span>
                        </div>
                        @* Image *@
                        <div class="form-group">
                            <label class="form-label">Choose An Image</label>
                            <input name="file" id="file" class="form-control" type="file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="FinalEditBtn"
                            data-bs-dismiss="modal">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{
    #endregion
}

@section Scripts {
    <script src="~/js/UserApiAjax.js" asp-append-version="true"></script>
}