@{
    ViewData["Title"] = "Kendo Component MVC";
}

<div id="grid"></div>
@* @section Scripts{
<script src="~/js/UserKendoComponentMVC.js" asp-append-version="true"></script>
} *@

<center>
    <h1>Employee Data</h1>
</center>
<div class="container">
    <div class="row col-6 offset-3">

        @* Emp Name *@
        <div class="row">
            <label for="">Employee Name :-</label>
            <hr>
            <input id="EmpName" />
        </div>

        @* Gender *@
        <div class="row">
            <label for="">Gender :-</label>
            <hr>
            <ul id="GenderRadioButton"></ul>
            <hr>
        </div>

        @* DOB *@
        <div class="row">
            <label for="">Select DOB:-</label>
            <hr>
            <div id="dob"></div>
            <hr>
        </div>

        @* Shift *@
        <div class="row">
            <label for="">Select Shift:-</label>
            <hr>
            <ul id="ShiftCheckbox"></ul>
            <hr>
        </div>

        @* Image *@
        <div class="row">
            <label for="">Image:-</label>
            <hr>
            <input type="file" id="ImageUpload">
            <hr>
        </div>

        @* Department *@
        <div class="row">
            <label for="">Select Department:-</label>
            <hr>
            <input id="DepartmentDorpDown">
            <hr>
        </div>

        @* Submit *@
        <div class="row">
            <button id="SubmitButton">Submit</button>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/UserKendoComponentMVC.js" asp-append-version="true"></script>
    <script>


        @* EmpName TextBox *@
            $("#EmpName").kendoTextBox({
                placeholder: "Enter Employee Name...",
                change: function (e) {
                    console.log("Value changed:", this.value());
                },
                focus: function (e) {
                    console.log("TextBox focused");
                }
            });

        @* Gender *@
            $('#GenderRadioButton').kendoRadioGroup({
                items: ["Male", "Female", "Other"],
                layout: "horizontal",
                value: "Male"
            });

        @* DOB *@
            $("#dob").kendoCalendar({
                change: function () {
                    console.log("Change :: " + kendo.toString(this.value(), 'd'));
                },
                navigate: function () {
                    console.log("Navigate");
                }
            });

        @* Shift *@
            $('#ShiftCheckbox').kendoMultiSelect({
                dataSource: ["Morning", "Afternoon", "Night"],
                dataBound: function () {
                    // Customize the items to display as checkboxes
                    var dropdownlist = this;
                    var items = dropdownlist.ul.find("li");
                    items.each(function (index) {
                        var item = $(this);
                        var itemValue = item.text();
                        var checkbox = $("<input>").attr({
                            type: "checkbox",
                            value: itemValue,
                            id: "checkbox_" + index
                        });
                        var label = $("<label>").text(itemValue).attr("for", "checkbox_" + index);
                        item.empty().append(checkbox).append(label);
                    });

                    // Attach change event handler to checkboxes
                    items.find("input[type='checkbox']").on("change", function () {
                        var selectedValues = dropdownlist.value();
                        console.log("Change event fired: Selected values - " + selectedValues);
                        // Here you can perform any actions based on the selected values
                    });
                }
            });

        @* Image *@
            $('#ImageUpload').kendoUpload({
                multiple: false,
                validation: {
                    allowedExtensions: [".jpg", ".png", ".jpeg"]
                },
                select: function imageNameChange(e) {
                    $.each(e.files, function (index, value) {
                        var fileNameWithPath = "/uploadsimg/" + value.name;
                        $("#c_empimage").val(fileNameWithPath).change();
                        var formData = new FormData();
                        formData.append("file", value.rawFile);
                        $.ajax({
                            url: " ",
                            type: "POST",
                            data: formData,
                            processData: false,
                            contentType: false,

                        });
                    });
                }
            });

        @* Department *@
            $('#DepartmentDorpDown').kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select Department...',
                dataSource: {
                    transport: {
                        read: {
                            url: "/KendoComponent/GetDepartment", 
                            datatype: "json",
                        }
                    }
                }
            });
        @* Submit Button *@
            $("#SubmitButton").kendoButton({
                themeColor: "primary",
                click: function () {
                    var user = {
                        // Define user data here, for example:
                        empname: $("#EmpName").val(),
                        empgender: $("#GenderRadioButton").val(),
                        dob: $("#dob").val(),
                        shift: $("#ShiftCheckbox").val(),
                        empimage: $("#ImageUpload").val(),
                        department: $("#DepartmentDorpDown").val()
                        // Add more fields as needed
                    };

                    $.ajax({
                        url: "https://localhost:7074/kendocomponent/UserAddEmpData",
                        type: "POST",
                        data: user,
                        success: function (data) {
                            if (data.success == true) {
                                window.location.href = "/KendoComponent/UserKendoMVC";
                            } else {
                                window.location.href = "/KendoComponent/UserKendoMVC";
                            }
                        }
                    });
                }
            });
        @* }); *@
    </script>
}
